---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/fead8af7d77e42793dbf5a3fccfaf847/40.7127,-74.0059,1539396000?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 71ms
      X-Forecast-Api-Calls:
      - '60'
      X-Response-Time:
      - 152.158ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.7127,"longitude":-74.0059,"timezone":"America/New_York","currently":{"time":1539396000,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":52.06,"apparentTemperature":52.06,"dewPoint":40.09,"humidity":0.64,"pressure":1008.58,"windSpeed":4.97,"windGust":5.42,"windBearing":331,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":268.73},"minutely":{"data":[{"time":1539396000,"precipIntensity":0,"precipProbability":0},{"time":1539396060,"precipIntensity":0,"precipProbability":0}]},"hourly":{"summary":"Rain
        in the morning.","icon":"rain","data":[{"time":1539316800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0052,"precipProbability":0.24,"precipType":"rain","temperature":69.85,"apparentTemperature":71.05,"dewPoint":68.68,"humidity":0.96,"pressure":1000.03,"windSpeed":0.79,"windGust":2.85,"windBearing":158,"cloudCover":0.96,"uvIndex":0,"visibility":9.47,"ozone":238.85},{"time":1539320400,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0138,"precipProbability":0.51,"precipType":"rain","temperature":68.23,"apparentTemperature":69.05,"dewPoint":65.66,"humidity":0.92,"pressure":999.5,"windSpeed":4.28,"windGust":4.73,"windBearing":342,"cl[...]
