---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/fead8af7d77e42793dbf5a3fccfaf847/40.7127,-74.0059,1539482400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 2ms
      X-Forecast-Api-Calls:
      - '59'
      X-Response-Time:
      - 116.880ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.7127,"longitude":-74.0059,"timezone":"America/New_York","currently":{"time":1539482400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":54.45,"apparentTemperature":54.45,"dewPoint":40.28,"humidity":0.59,"pressure":1018.09,"windSpeed":6.34,"windGust":12.31,"windBearing":307,"cloudCover":0.05,"uvIndex":0,"visibility":10,"ozone":286.52},"hourly":{"summary":"Mostly
        cloudy starting overnight, continuing until evening.","icon":"partly-cloudy-day","data":[{"time":1539403200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":50.88,"apparentTemperature":50.88,"dewPoint":39.99,"humidity":0.66,"pressure":1008.79,"windSpeed":3.8,"windGust":4.28,"windBearing":329,"cloudCover":0.06,"uvIndex":0,"visibility":10,"ozone":269.06},{"time":1539406800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":50.94,"apparentTemperature":50.94,"dewPoint":39.97,"humidity":0.66,"pressure":1009.35,"windSpeed":4.5,"windGust":4.62,"windBearing":331,"cloudCover":0.13,"uvIndex":0,"visibility":10,"ozone":269.2},{"time":1539410400,"summary":"Clear","icon":"clear-night","precipIntensity":0.0007,"precipProbability":0.02,"precipType":"rain","temperature":51.03,"apparentTemperature":51.03,"dewPoint":39.84,"humidity":0.65,"pressure":1009.15,"windSpeed":4.85,"windGust":4.85,"windBearing":340,"cloudCover":0.17,"uvIndex":0,"visibility":10,"ozone":270.66},{"time":1539414000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0011,"precipProbability":0.03,"precipType":"rain","temperature":51.39,"apparentTemperature":51.39,"dewPoint":40.16,"humidity":0.65,"pressure":1008.94,"windSpeed":4.18,"windGust":[...]
